.carousel{
    background-color: black;
}
.carousel img{
    height: 100vh;
    opacity: 0.3;
}
.carousel-item{
    transition: all ease-in-out .6s;
}
.carousel-caption{
    width: 60%;
    top: 25%;
    align-items: center;
    text-align: left;
}
.carousel-caption h3{
    font-size: 70px;
}

@media (max-width: 768px){
    .carousel img{
        height: 500px;
    }
    .carousel-caption{
        width: 100%;
        top: 25%;
    }
    .carousel-caption h3{
        font-size: 40px;
    }
    .carousel-caption p{
        font-size: 15px;
        width: 70%;
    }
}