.task-section{
    position: relative;
}
.promo-img:before{
    content: "";
    width: 200px;
    height: 400px;
    z-index: -1;
    position: absolute;
    background-color: #059773;
    border-radius: 10px;
    top: 40%;
    left: 20%;

}

.detail{
    margin: 0 2rem;
}
.detail-icon{
    background-color: #059773;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
}
