
.section{
  padding: 5rem 4rem;
  margin: 0 0rem;
}

.section-heading{
 margin: 10px;
}
.section-heading h3{
  font-size: 40px;
}
.section-title{
  margin: 1rem;
}

@media (max-width: 768px){
  .section{
    padding: 0;
  }
}